<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Certificate Generator</title>
</head>

<body>
    <header>
        <img src="static/Certificate Form Logo.jpg" alt="Instansi Logo">
        <h2>Generate your Certificate here</h2>
    </header>

    <div class="input-container">
        <label for="name">Nama :</label>
        <input type="text" id="name" placeholder="Laita Zidane Azizi" required>
        <br><br>

        <label for="email">Email :</label>
        <input type="text" id="email" placeholder="Masukkan Email Penerima" required>
        <br><br>

        <label for="phnumber">No hp :</label>
        <input type="number" id="phnumber" placeholder="Masukkan Nomor Telepon Penerima" required>
        <br><br>

        <label for="coursename">Nama Kursus :</label>
        <input type="text" id="coursename" placeholder="Masukkan Nama Kursus" required>
        <br><br>

        <label for="courseid">Course Id :</label>
        <input type="text" id="courseid" placeholder="Masukkan ID Kursus" required>
        <br><br>

        <label for="instname">Nama Institusi dan Kota :</label>
        <input type="text" id="instname" placeholder="Masukkan Nama Institusi dan Kota" required>
        <br><br>

        <label for="startdate">Tanggal Mulai Kursus :</label>
        <input type="date" id="startdate" placeholder="Masukkan Tanggal Mulai Kursus" required>
        <br><br>

        <label for="enddate">Tanggal Selesai Kursus :</label>
        <input type="date" id="enddate" placeholder="Masukkan Tanggal Selesai Kursus" required>
        <br><br>

        <button onclick="uploadCertificateInfo()">Generate Now</button>
    </div>

    <a id="downloadLink" style="display: none;" download="Certificate.png">
        <button id="downloadButton">Download Certificate</button>
    </a>

    <canvas id="certificateCanvas" style="display: none;"></canvas>

    <script src="static/script.js"></script>
</body>

</html>
