<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Certificate</title>
    <script src="static/script.js" defer></script>
</head>
<body>
    <h2>Verifikasi Sertifikat</h2>
    <form id="uploadForm">
        <label for="file">Unggah Sertifikat:</label>
        <input type="file" id="file" name="file" accept=".png,.jpg,.jpeg" required>
        <button type="submit">Verifikasi</button>
    </form>

    <div id="verificationResult"></div>
</body>
</html>
